﻿body {
}
.bg-dark {
    background-color: #007bff !important;}
.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa !important;
}
.jumbotron {
    background-color: #fff;
    color: #000000
}
.bg-light {
    background-color: #e9ecef !important;
}
}

.text-muted {
    color: #000000 !important;
}
.btn-secondary {
    background-color: #000;
    border-color: #e9ecef;
}
#poach{text-align:center; background-color:#fff}
/*#e9ecef*/
    